body {
	background: url("../../unit1_projects/images/bright_squares.png");
	font-family: georgia;
}

#container {
	background: white;
	width: 85%;
	max-width: 1200px;
	display: block;
	margin: auto;
	
}

header {
	width: 100%;
	/* background: green; */
	display: block;
	margin: 0 0 50px;

}

.image_div {
	display: block;
	margin: auto;
	width: 650px;
	height: 400px;
	border: 5px solid rgba(0,0,0,.15);
	margin-bottom: 10px;
}

#apple_wire {
	width: 100%;
	height: 100%;
}

#youtube {
	width: 100%;
	height: 100%;
}

#google {
	width: 100%;
	height: 100%;
}

.website_name {
	font-size: 2em;
	text-align: center;
	padding: 10px 0 25px;
}

#page_title {
	padding: 60px 0 0;
	font-size: 3.5em;
	text-align: center;
}

#page_info {
	font-size: 1.2em;
	text-align: center;
	padding: 0 0 30px;
	margin: 10px 0 0;
}

.page_body {
	padding: 20px 0;
	width: 70%;
	display: block;
	margin: auto;
	font-family: georgia;
	line-height: 1.6em;
	font-size: 1.2em;
}

#paragraph1, #paragraph2, #paragraph3 {
	margin: 0 0 80px;
}

#back_botton_div {
	display: block;
	margin: auto;
	margin-top: 40px;
	height: 60px;
	width:200px;
	border: 5px solid rgba(0,0,0,.15);
}

#back_button{
	font-size: 2.5em;
	text-align: center;
	margin: 10px 0 0;
}

footer {
	display: block;
	clear: both;
	width: 100%;
	height: 150px;
	background: rgba(0,0,0,.02);
	border-top: 1px solid rgba(0,0,0,.05);
}

footer a {
	text-decoration: none;
	color: black;
}

#back_botton_div:hover {	
	color: #2970b2;
	background: rgba(0,0,0,.1);
}













